// place your custom styles here

ul {
  color: #74767e;
  list-style-type: disc; // 例如，将列表项标记类型改为方块
  padding-left: 20px; // 添加内边距
}
ol {
  color: #74767e;
  list-style-type: decimal; // 例如，将列表项标记类型改为方块
  padding-left: 20px; // 添加内边距
}
h1 {
  color: #2f91b2;
}
h2 {
  color: #089474;
}
//.toc-item{
//  //color: #ba8bec;
//  color: #ba8bec;
//}